<div class="hero-container">
  <div class="hero-image">
    <img src="/assets/productimg/lens-air-home-badge.jpg" alt="Lens Air Home">
  </div>
  <div class="hero-content">
    <h1>The second immersive glass to the consumer market</h1>
    <a href="/product" class="cta-button">Know more</a>
  </div>
  <div class="hero-mask">
    <div class="hero-mask-left">
    </div>
    <div class="hero-mask-right">
    </div>
  </div>
</div>

<div class="vu-container">
  <div class="vu-image">
    <img src="/assets/marketimg/VuOS.jpeg" alt="XR View">
  </div>
  <div class="vu-content">
    <h1>Make the world easier</h1>
    <a href="/software" class="cta-button">Know more</a>
  </div>
</div>